<html>
    <head>
        <title>Me</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
        <link href="/static/style/me.css" rel="stylesheet">
    </head>
    <body class="bg-body-tertiary">
        <div class="container">
            <div class="col-md-7">
                <div class="social-feed-separated">
                    <div class="social-avatar">
                        <a href="">
                            <img alt="image" src="https://bootdey.com/img/Content/avatar/avatar1.png">
                        </a>
                    </div>
            
                    <div class="social-feed-box">
                        <div class="pull-right social-action dropdown">
                            <button data-toggle="dropdown" class="dropdown-toggle btn-white">
                                <i class="fa fa-angle-down"></i>
                            </button>
                            <ul class="dropdown-menu m-t-xs">
                                <li><a href="#">Config</a></li>
                            </ul>
                        </div>
                        <div class="social-avatar">
                            <a href="#">
                                <%- username %>
                            </a>
                            <small class="text-muted">Today 4:21 pm - 12.06.2014</small>
                        </div>
                        <div class="social-body">
                            <p>
                                Many desktop publishing packages and web page editors now use Lorem Ipsum as their
                                default model text, and a search for 'lorem ipsum' will uncover many web sites still
                                in their infancy. Packages and web page editors now use Lorem Ipsum as their
                                default model text.
                            </p>
                            <img src="https://bootdey.com/img/Content/avatar/avatar1.png" class="img-responsive">
                            <div class="btn-group">
                                <button class="btn btn-white btn-xs"><i class="fa fa-thumbs-up"></i> Like this!</button>
                                <button class="btn btn-white btn-xs"><i class="fa fa-comments"></i> Comment</button>
                                <button class="btn btn-white btn-xs"><i class="fa fa-share"></i> Share</button>
                            </div>
                        </div>
                        <div class="social-footer">
                            <div class="social-comment">
                                <a href="" class="pull-left">
                                    <img alt="image" src="https://bootdey.com/img/Content/avatar/avatar2.png">
                                </a>
                                <div class="media-body">
                                    <a href="#">
                                        <%- username %>
                                    </a>
                                    Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words.
                                    <br>
                                    <a href="#" class="small"><i class="fa fa-thumbs-up"></i> 26 Like this!</a> -
                                    <small class="text-muted">12.06.2014</small>
                                </div>
                            </div>
            
                            <div class="social-comment">
                                <a href="" class="pull-left">
                                    <img alt="image" src="https://bootdey.com/img/Content/avatar/avatar1.png">
                                </a>
                                <div class="media-body">
                                    <a href="#">
                                        <%- username %>
                                    </a>
                                    Making this the first true generator on the Internet. It uses a dictionary of.
                                    <br>
                                    <a href="#" class="small"><i class="fa fa-thumbs-up"></i> 11 Like this!</a> -
                                    <small class="text-muted">10.07.2014</small>
                                </div>
            
                                <div class="social-comment">
                                    <a href="" class="pull-left">
                                        <img alt="image" src="https://bootdey.com/img/Content/avatar/avatar1.png">
                                    </a>
                                    <div class="media-body">
                                        <a href="#">
                                            <%- username %>
                                        </a>
                                        Making this the first true generator on the Internet. It uses a dictionary of.
                                        <br>
                                        <a href="#" class="small"><i class="fa fa-thumbs-up"></i> 11 Like this!</a> -
                                        <small class="text-muted">10.07.2014</small>
                                    </div>
                                </div>
                                <div class="social-comment">
                                    <a href="" class="pull-left">
                                        <img alt="image" src="https://bootdey.com/img/Content/avatar/avatar3.png">
                                    </a>
                                    <div class="media-body">
                                        <textarea class="form-control" placeholder="Write comment..."></textarea>
                                    </div>
                                </div>
                            </div>
            
                            <div class="social-comment">
                                <a href="" class="pull-left">
                                    <img alt="image" src="https://bootdey.com/img/Content/avatar/avatar1.png">
                                </a>
                                <div class="media-body">
                                    <a href="#">
                                        <%- username %>
                                    </a>
                                    Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words.
                                    <br>
                                    <a href="#" class="small"><i class="fa fa-thumbs-up"></i> 26 Like this!</a> -
                                    <small class="text-muted">12.06.2014</small>
                                </div>
                            </div>
            
                            <div class="social-comment">
                                <a href="" class="pull-left">
                                    <img alt="image" src="https://bootdey.com/img/Content/avatar/avatar6.png">
                                </a>
                                <div class="media-body">
                                    <a href="#">
                                        <%- username %>
                                    </a>
                                    Making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words.
                                    <br>
                                    <a href="#" class="small"><i class="fa fa-thumbs-up"></i> 26 Like this!</a> -
                                    <small class="text-muted">12.06.2014</small>
                                </div>
                            </div>
            
                            <div class="social-comment">
                                <a href="" class="pull-left">
                                    <img alt="image" src="https://bootdey.com/img/Content/avatar/avatar6.png">
                                </a>
                                <div class="media-body">
                                    <textarea class="form-control" placeholder="Write comment..."></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
